{% extends "mainApp/wrapper.html" %}
    {% block content %}

        <div class="table-responsive">
            <p><h2 class = text-center>Публикации</h2></p>
        <table class = 'table table-hover table-bordered' style="background-color: #79aec8">
        <a href="{% url 'publication_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Авторы</th>
                    <th class = btn-group-sm>Издателсьво</th>
                    <th class = btn-group-sm>Страницы</th>
                    <th class = btn-group-sm>Дата публикации</th>
                    <th class = btn-group-sm>город/Страна</th>
                </tr>
            </thead>
            <tbody>

                {% for post in object_list %}
                    <tr onclick="window.location = '/news/publication/{{post.id}}'+'/'">
                        <td>{{post.title}}</td>
                        <td>{{post.author}}</td>
                        <td>{{post.publishing_house}}</td>
                        <td>{{ post.pages }}</td>
                        <td>{{post.date|date:'d-m-Y'}}</td>
                        <td>{{post.location}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
         </div>
    {% endblock %}
