{% extends "mainApp/wrapper.html" %}
    {% block content %}

        <div class="table-responsive">
            <p><h2 class = text-center>Публикации</h2></p>
                {% for post in object_list %}
            {# Each "contact" is a Contact model object. #}
            {{ post.title}}<br />
            ...
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if post.has_previous %}
                    <a href="?page={{ contacts.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                </span>

                {% if contacts.has_next %}
                    <a href="?page={{ contacts.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

        <table class = 'table table-hover table-bordered' style="background-color: #79aec8">
        <a href="{% url 'publication_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Авторы</th>
                    <th class = btn-group-sm>Издателсьво</th>
                    <th class = btn-group-sm>Страницы</th>
                    <th class = btn-group-sm>Дата публикации</th>
                    <th class = btn-group-sm>город/Страна</th>
                </tr>
            </thead>
            <tbody>

                {% for post in object_list %}
                    <tr onclick="window.location = '/news/publication/{{post.id}}'+'/'">
                        <td>{{post.title}}</td>
                        <td>{{post.author}}</td>
                        <td>{{post.publishing_house}}</td>
                        <td>{{ post.pages }}</td>
                        <td>{{post.date|date:'d-m-Y'}}</td>
                        <td>{{post.location}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
         </div>
    {% endblock %}
