{% extends "mainApp/wrapper.html" %}
    {% block content %}

        <div class="table-responsive">
            <p><h2 class = text-center>Публикации</h2></p>
        <table class = 'table table-hover table-bordered table' style="background-color: #79aec8" width="100%">
            <p><a href="{% url 'publication_new' %}"><span class="glyphicon glyphicon-plus-sign"></span></a></p>
            <thead>
                <tr>
                    <th width="30%">Название</th>
                    <th width = '10%'>Авторы </th>
                    <th class = btn-group-sm width = '10%'>Издателство</th>
                    <th class = btn-group-sm width = '8%'>Страницы</th>
                    <th class = btn-group-sm width = '7%'>Дата публикации</th>
                    <th class = btn-group-sm width = '15%'>город/Страна</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr onclick="window.location = '/news/publication/{{post.id}}'+'/'">
                        <td>{{post.title}}</td>
                        <td>{% for author in post.author.all %} {{ author }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                        <td>{{post.publishing_house}}</td>
                        <td>{{ post.pages}}</td>
                        <td>{{post.date|date:'d-m-Y'}}</td>
                        <td>{{post.location}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if posts.has_other_pages %}
          <ul class="pagination">
            {% if posts.has_previous %}
              <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in posts.paginator.page_range %}
              {% if posts.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if posts.has_next %}
              <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
     </div>
{% endblock %}
