<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Шаблончик</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js'%}" type="text/css">

</head>
<body>

    <nav class="navbar navbar-default navbar-fixed">
        <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Важное название организации</a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li><a href="/">Главная страница</a></li>
                <li><a href="/news">Новости</a></li>
                <li><a href="/contact">Контакты</a></li>
            </ul>
        </div>

        </div>
    </nav>


    <div class="container theme-showcase padding-top" role = "main">

      <div class="jumbotron">
        <div class="container-8 text">
          <h1>{% include "mainApp/includes/some_html.html" %}</h1>

          {% block content %}
          {% endblock %}

        </div>
        </div>

    <hr>
    &copy; Все права защищены 2018
    </div>
</body>
</html>


