<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">

     <title>Шаблончик</title>

</head>
<body>

    <nav class="navbar navbar-default navbar-fixed">
        <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Важное название организации</a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li><a href="/">Главная страница</a></li>
                <li><a href="/news">Новости</a></li>
                <li><a href="/contact">Контакты</a></li>
            </ul>
        </div>

        </div>
    </nav>


    <div class="container theme-showcase padding-top" role = "main">

      <div class="jumbotron">
        <div class="container-8 text">

          {% block content %}
          {% endblock %}

        </div>
        </div>

    <hr>
    &copy; Все права защищены 2017
    </div>
</body>
</html>


